{% extends 'base.html' %}
{% import 'macros.html' as macro%}

<!DOCTYPE html>
<html>
    <head>
        <meta charset = "utf-8">
        {% if title %}
        <title>{{ title }}</title>
        {% else %}
        <title>Welcome to the best Movie Review Website Online</title>
        {% endif %}
    
    </head>
    
    <body>
        <!-- Content block -->
        {% block content %}
        <!-- Popular Movies -->
        <h3>Popular Movies</h3>
        <ul>
            <div class="row">
                {{ macro.displayMovieList(popular) }} 
            </div>                                  
        </ul>
        <!-- Upcoming movies section -->
        <h3>Upcoming Movies</h3>
        <ul>
            <div class="row">
                {{ macro.displayMovieList(upcoming)}} 
            </div>                  
        </ul>
        <!-- Now Showing movie -->
        <h3>Now Showing Movie</h3>
        <ul>
            <div class="row">
                {{ macro.displayMovieList(now_showing) }}  

            </div>                         
        </ul>
        {% endblock%}
    </body>
</html>


